:root {
    --color-primary: #00d9ff;
    --color-secondary: #2584ff;
    --color-acent: #ec3000;
    --color-header: #1b0760;
    --color-body: #9d99ae;
}

body {
    background: yellow;
    font-size: 1rem; /* Set a base font size */
    font-family: "inter", sans-serif;
}

h1, h2, h3 {
    color: #1b0760;
    font-size: 62.5%;
}

h1 {
    font-size: 3.75rem;/*  60px for desktop view */
}

h2 {
    font-size: 2.5rem; /*  40px for desktop view */
}

h3 {
    font-size: 1.75rem; /*  28px for desktop view */
    margin-bottom: 1rem;
}

p {
    font-size: 1.25rem;
    margin-top: 0;
    color: var(--color-body);
}

@media (max-width: 768px) {
    body {
        font-size: 60%;
    }
    h1 {
        font-size: 60%;
    }
    h2 {
        font-size: 60%; 
    }
    h3 {
        font-size: 50%;
    }
    p {
        font-size: 1.25rem; 
    }
}
