body {
  background-color: #53c5f6;
}
.hero{
  background-color: aliceblue;
  padding:10% 20%;
  height: 620px;
  justify-content: center;

}
.text1{
  background-color: rgb(43, 239, 239);

  color: rgb(245, 246, 247);
  float: left;
  align-items: center;
  height:400px;
  
  width: 400px;
}
.text2{
background-color: rgb(5, 7, 7);
float: left;
height:400px;
width: 400px;
}
.text3{
  align-self: center;
  margin-left: 8%;
  font-size: 50px;
  font-weight: bold;

}
.hello1{

  align-self: flex-start;
  font-size: large;
  margin-left: 8%;
}
.last1{
  margin-top: 4px;
  font-style: italic;
  margin-left: 8%;
}